.createTaskWrapper {
  width: 100%;
  display: flex;
  margin: calc(1px - 0.25rem - 27px) auto 0;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  column-gap: 8px;
}

.createTaskWrapper button {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--blue-500);
  color: var(--white);
  border: none;
  border-radius: var(--borderRadius-medium);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}

.createTaskWrapper button:hover {
  opacity: 0.7;
}

.createTaskWrapper button > svg {
  margin-left: 8px;
}
