.header {
    background: var(--gray-700);
    padding: 4.5rem 2rem 5rem;
}

.header::after {
    content: "";
    display: block;
    clear: both;
}

.logoWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-decoration: none;
}

.logoWrapper h1 {
    margin-left: 0.75rem;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 28px;
    color: var(--blue-500);
}

.logoWrapper h1 > span {
    color: var(--purple-500);
}